{% include 'header.html' %}
<section id="diary" class="main main_diary">
    <h2 class="screen_out">여행 다이어리</h2>
    <div class="info_diary">
        <h3 class="tit_diary">여행 다이어리 전체 제목, 사용자가 입력</h3>
        <div class="badge_tour">
            <a href="#" class="link_badge">
                <strong class="screen_out">대표 뱃지 : </strong>
                <span class="scope_badge"><img src="" class="img_badge">성산일출봉 뱃지</span>
                <strong class="tit_badge">반짝이는 성산일출봉</strong>
            </a>
	    </div>
    </div>
    <div class="card_diary">
        <h3 class="tit_diary">여행 다이어리 </h3>
        <div class="slider-container">
            <div class="slider">
                <div class="card add">
                    <strong class="card-title"><a href="" class="link_title">2024 진도 여행 계획 길어지면 말줄임 없이 쭉쭉쭉!</a><span class="badge text-bg-dark">new</span></strong>
                    <a href="#" class="link_card">
                        <div class="card-img">
                            <img src="http://tong.visitkorea.or.kr/cms/resource/36/3079736_image2_1.jpg" alt="가계해수욕장">
                            <span class="txt_noimg">No image</span>
                        </div>
                        <div class="card-add">
                            <div class="inner-add">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                                <span class="txt_add">다이어리 만들기</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="link_card">
                        <div class="card-img">
                            <img src="https://wimg.mk.co.kr/meet/neds/2021/03/image_readtop_2021_230365_16153626904568253.jpg" alt="">
                            <span class="txt_noimg">No image</span>
                        </div>
                        <div class="card-body">
                            <strong class="card-title">2024 제주도 여행 다이어리 제목이 들어가요 말줄임이 되지요!</strong>
                            <div class="badge_tour">
                                <span class="scope_badge"><img src="" class="img_badge">성산일출봉 뱃지</span>
                                <strong class="tit_badge">반짝이는 성산일출봉 길어지면 말줄임이 되지요 하하하하하</strong>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="link_card">
                        <div class="card-img">
                            <span class="txt_noimg">No image</span>
                        </div>
                        <div class="card-body">
                            <strong class="card-title">2024 제주도 여행</strong>
                            <div class="badge_tour">
                                <span class="scope_badge"><img src="" class="img_badge">성산일출봉 뱃지</span>
                                <strong class="tit_badge">반짝이는 성산일출봉</strong>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="link_card">
                        <div class="card-img">
                            <span class="txt_noimg">No image</span>
                        </div>
                        <div class="card-body">
                            <strong class="card-title">2024 제주도 여행</strong>
                            <div class="badge_tour">
                                <span class="scope_badge"><img src="" class="img_badge">성산일출봉 뱃지</span>
                                <strong class="tit_badge">반짝이는 성산일출봉</strong>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" id="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" id="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <a href="#" class="link_diary">전체보기</a>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% include 'footer.html' %}