<!--로그인을 하지 않은 다른 사용자의 블로그-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ diary.diarytitle }}</title>
</head>
<body>
    <h1>{{ diary.diarytitle }}</h1>
        <p><strong>여행 장소:</strong> {{ diary.place }}</p>
        <p><strong>동행자:</strong> {{ diary.withfriend }}</p>
        <p><strong>내용:</strong> {{ diary.content }}</p>
        <p><strong>작성 날짜:</strong> {{ diary.created_at }}</p>

        {% if diary.representative_image %}
            <img src="data:image/png;base64,{{ diary.representative_image.image_file }}" alt="Representative Image" width="150">
        {% endif %}

        {% for image in diary.images.all %}
            {% if not image.is_representative %}
                <img src="data:image/png;base64,{{ image.image_file }}" alt="Diary Image" width="150">
            {% endif %}
        {% empty %}
        {% endfor %}

        <button>
            <a href="{% url 'list_diary' %}">리스트로 돌아가기</a>
        </button>
</body>
</html>