<!-- detail_diary.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ diary.diarytitle }}</title>
</head>
<body>
    <h1>{{ diary.diarytitle }}</h1>
    <p><strong>Emotion:</strong> {{ diary.emotion }}</p>
    <p><strong>Content:</strong> {{ diary.content }}</p>
    <p><strong>Place:</strong> {{ diary.place }}</p>
    <p><strong>Created at:</strong> {{ diary.created_at }}</p>

    {% if diary.representative_image %}
        <img src="data:image/png;base64,{{ diary.representative_image.image_file }}" alt="Representative Image">
    {% endif %}

    {% for image in diary.images.all %}
        {% if not image.is_representative %}
            <img src="data:image/png;base64,{{ image.image_file }}" alt="Diary Image">
        {% endif %}
    {% empty %}
        No images available
    {% endfor %}

    <a href="{% url 'list_diary' %}">리스트로 돌아가기</a>
    <a href="{% url 'update_diary' unique_diary_id=diary.unique_diary_id %}">일기수정하기</a>
    <!-- 삭제 버튼 -->
    <form action="{% url 'delete_diary' unique_diary_id=diary.unique_diary_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
    </form>
</body>
</html>
