<!-- list_diary.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Diary List</title>
</head>
<body>
    <h1>Diary List</h1>
    <ul>
        {% for diary in diary_list %}
            <li>
                <a href="{% url 'detail_diary_by_id' unique_diary_id=diary.unique_diary_id %}">{{ diary.diarytitle }}</a>
                <br/>
                {% if diary.representative_image %}
                    <img src="data:image/png;base64,{{ diary.representative_image.image_file }}" alt="Representative Image" width="150">
                {% endif %}
            </li>
        {% empty %}
            <li>No diaries found.</li>
        {% endfor %}
    </ul>

    <!-- 일기 작성 화면으로 가는 버튼 추가 (user기능이 생기면 삭제)-->
        <a href="{% url 'write_diary' %}">
            <button>Write a New Diary</button>
        </a>
</body>
</html>
