<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Diary</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
        $(document).ready(function() {
            $('#generate-button').click(function(event) {
                event.preventDefault();
                var formData = new FormData($('#diary-form')[0]);
                $.ajax({
                    url: "{% url 'generate_diary' %}",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#id_content').val(response.generated_content);
                    },
                    error: function(response) {
                        alert("Error generating content");
                    }
                });
            });
        });
     </script>
</head>
<body>
    <h1>Write Diary</h1>
    <form id="diary-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">일기 작성</button>
        <button id="generate-button">AI가 일기 써주기</button>
    </form>
    <!-- 일기 리스트 링크 -->
    <button id="list-button">
        <a href="{% url 'list_diary' %}">리스트</a>
    </button>
</body>
</html>
